<div class="container mt-3 mb-5">

    <h4>Queremos transformar la forma en que se mueven las mujeres</h4>
    <hr>
    <div class="row justify-content-between">
        <div class="col-4">
            <button type="button" class="btn btn-outline-primary">Ayudanos a conectar</button>
        </div>
        <div class="col-4">
            <div class="text-right">
                <button type="button" class="btn btn-outline-success pull-right">Inscribete</button>
            </div>
        </div>
    </div>

    <div class="card border-info mb-3 mt-2">
        <div class="card-header bg-transparent border-info">#Hashtag</div>
        <div class="card-body text-dark">
            <h5 class="card-title">¿Por qué?</h5>
            <p class="card-text">Creemos en las personas, sabemos que podemos hacer de este un lugar mejor. Por esto a través de Bottini una empresa de zapatos creada por colombianos queremos transformar la forma en que se mueven las mujeres.</p>

            <h5 class="card-title">¿Qué?</h5>
            <p class="card-text">Con ayuda de ustedes queremos recaudar 12 pares de bottini's para 12 mujeres que no tengan los recursos para obtener estos zapatos.</p>
            <h5 class="card-title">¿Cómo?</h5>

            <ol>
                <li>
                    En la parte de abajo de esta página encontraras 4 modelos previamente seleccionados por Diana nuestra experta en moda, una vez selecciones un modelo entonces ;
                </li>
                <li>
                    Comunícate con nosotros a través de este número +57 3204302434 o deja que nosotros nos comuniquemos contigo y regístrate para estar al tanto de más eventos para transformar la forma en que se mueven las mujeres;
                </li>
                <li>
                    Una vez la entrega de los Bottini sea realizada recibirás un correo con fotos y la información de la mujer a la que le hiciste la vida mejor.
                </li>
            </ol>

            <h5 class="card-title">¿Cuando?</h5>
            <p class="card-text">
                Seleccionamos los meces de Noviembre y Diciembre que son fechas en la que más necesitamos nuestro lado humano.
            </p>


            <div class="card-body">
                <a href="#" class="btn btn-primary">Inscribete</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="card border-light mb-3">
                <div class="card-header">Modelo 1</div>
                <img class="card-img-top" src="assets/shoes_models/Botin_negroT_opt.jpg" alt="Botines negro">
                <div class="card-body">
                    <h5 class="card-title">Botin negro</h5>
                    <p class="card-text">Si quieres estar a la moda seguro estos zapatos son los tuyos.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card border-light mb-3">
                <div class="card-header">Modelo 2</div>
                <img class="card-img-top" src="assets/shoes_models/Botin_vinotinto T_opt.jpg" alt="Botines negro">
                <div class="card-body">
                    <h5 class="card-title">Botin vinotino</h5>
                    <p class="card-text">Si quieres ser regia seguro estos zapatos son los tuyos.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card border-light mb-3">
                <div class="card-header">Modelo 3</div>
                <img class="card-img-top" src="assets/shoes_models/Botin_vinotinto T_opt_2.jpg" alt="Botines negro">
                <div class="card-body">
                    <h5 class="card-title">Botin vinotino</h5>
                    <p class="card-text">Si quieres ser pulca seguro estos zapatos son los tuyos.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card border-light mb-3">
                <div class="card-header">Modelo 3</div>
                <img class="card-img-top" src="assets/shoes_models/Botin_rosadoT_opt.jpg" alt="Botines negro">
                <div class="card-body">
                    <h5 class="card-title">Botin rosa</h5>
                    <p class="card-text">Si quieres ser tierna seguro estos zapatos son los tuyos.</p>
                </div>
            </div>
        </div>
    </div>
</div>