<h1 class="site-heading text-center text-white d-none d-lg-block">
    <span class="site-heading-lower">Dona con bottini</span>
</h1>

<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="assets/img/intro.jpg" alt="">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Bottini</span>
                    <span class="section-heading-lower">Regala sonrisas</span>
                </h2>
                <p class="mb-3">
                    Creemos en las personas y hemos decidido poner en marcha la campaña <span class="badge badge-warning">Regala sonrisas</span>. Vamos a entregar 12 pares de Bottinis un par por cada mes del año. Con tu ayuda recaudaremos el costo de
                    12 pares de Bottinis y regalaremos sonrisas! Solo tienes que inscribirte y nostros te contactaremos para continuar con el proceso.
                </p>
                <div class="intro-button mx-auto">
                    <a class="btn btn-primary btn-xl" [routerLink]="['/googleform']">Inscribete!</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Nuestra promesa</span>
                        <span class="section-heading-lower">Hacia ti</span>
                    </h2>
                    <p class="mb-0">
                        Cuando los Bottini sean entregados a cada una de las mujeres recibiras un correo electronico y mensaje de whatsapp con fotos mostrando la mujer a la cual le sacaste la sonrisa.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>