<h1 class="site-heading text-center text-white d-none d-lg-block">
    <span class="site-heading-lower">Vamos a donar</span>
</h1>

<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="assets/img/intro.jpg" alt="">

            <div class="intro-text left-0 text-justify bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Bottini</span>
                </h2>
                <p class="mb-3">
                    Creemos en las personas, sabemos que la alegría más grande es dar.
                </p>
                <p>
                    Con tu ayuda queremos que el mayor número de mujeres estrenen zapatos en navidad. En una alianza entre empresarios, inversionistas, líderes de innovación y personas que nos encanta contribuir:
                    <span class="badge badge-warning">queremos apostar a dar.</span>
                </p>

                <p>
                    Solo tienes que inscribirte y nosotros te contactaremos para continuar el proceso.
                </p>

                <p>
                    Gracias por creer, también creemos en ti y en un mundo mejor.
                </p>
                <div class="intro-button mx-auto text-center">
                    <a class="btn btn-primary btn-xl" [routerLink]="['/googleform']">Inscribete!</a>
                </div>

            </div>

        </div>
    </div>
</section>

<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Nuestra promesa</span>
                        <span class="section-heading-lower">Hacia ti</span>
                    </h2>
                    <p class="mb-0">
                        Cuando los zapatos sean entregados a cada una de las mujeres recibirás un correo electrónico y mensaje de WhatsApp con fotos mostrando la persona que ayudaste.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<app-about></app-about>