<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="assets/img/familia.jpg" alt="">
            <div class="intro-text left-0 text-justify bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Sobre nosotros</span>
                </h2>
                <p class="mb-3">
                    ¡Bienvenido y un caluroso abrazo de parte de todos nosotros!
                </p>
                <p>En esta navidad queremos hacer la diferencia.</p>
                <div class="alert alert-light" role="alert">
                    Contactanos: <b>bottini@misbottini.com</b>
                </div>
            </div>

        </div>
    </div>
</section>